{% extends 'base.html.twig' %}

{% block title %}Details de l'annonce {{ annonce.title }}{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.2/dist/css/axentix.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.2/dist/css/grix.min.css" />

{% endblock %}

{% block body %}
 <div class="container">

{% for msg in app.flashes('message') %}
<div class="p-3 my-2 rounded-2 success"> {{ msg }}</div>
{% endfor %}

	<div class="caroulix" id="carousel" data-ax="caroulix">
			<div class="caroulix-arrow caroulix-prev">
				<i class="fas fa-chevron-left"></i>
			</div>
			<div class="caroulix-arrow caroulix-next">
				<i class="fas fa-chevron-right"></i>
			</div>

			{% for image in annonce.images %}
				<div class="caroulix-item">
					<img src="{{ asset('uploads/images/annonces/' ~ image.name)|
							imagine_filter('baniere')  }}" alt="{{ annonce.title }}" />
				</div>
			{% endfor %}
	</div>

	<div class="grix xs2 sm3 gutte-0 card ">
			
			<div class="flex fx-col fx-grow">
					<div class="card-header">{{ annonce.title }}</div>
					<div class="card-content">
							<p>Catégorie: {{ annonce.categories.name }}</p>
							<p>Description: {{ annonce.content | raw }}</p>
							<p>
								<button class="btn rounded-1 primary press modal-trigger" data-target="modal-contact">Contacter l'annonceur</button>
							</p>
					</div>
			</div>
	</div>
</div>


<div class="modal shadow-1 white falling" id="modal-contact" data-ax="modal">
	<div class="modal-header">Contacter l'annonceur</div>

		<div class="divider"></div>

		{{ form_start(form) }}
		<div class="modal-content">
			{{ form_widget(form.title)}}
			{{ form_row(form.email) }}
			{{ form_row(form.message) }}
		</div>

		<div class="divider"></div>

		<div class="modal-footer">
			<button class="btn small primary">Envoyer</button>
			<button data-target="modal-contact" class="ml-auto btn shadow-1 rounded-1 small secondary modal-trigger">Fermer</button>		
		</div>
			{{ form_end(form) }}
</div>

{% endblock %}
 
{% block javascripts %}
	<script>
		window.onload = () => {
			document.querySelector("#annonce_contact_title").value = "{{ annonce.title | raw }}"
		}

		let caroulix = new Axentix.Caroulix('#carousel');
		let modal = new Axentix.Modal('#modal-contact');
	</script>
{% endblock %}
