{% extends 'base.html.twig' %}

{% block title %}Liste des Annonces{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}


	<div class="container">
		{% for annonce in annonces %}
			<div class="grix xs2 sm3 gutte-0 card ">
				<div
					class="primary flex vcenter fx-center ">
					{# {{ dump(annonce)}} #}
					<img src="{{ asset('uploads/images/annonces/' ~ annonce.images[0].name)| imagine_filter('square') }}" alt="{{ annonce.title }}">
				</div>
				<div class="flex fx-col fx-grow">
					<div class="card-header">
						<a href="{{ path('annonces_details', {slug: annonce.slug}) }}">
							{{ annonce.title }}
						</a>
					</div>
					<div class="card-content">
						<p>Catégorie:
							{{ annonce.categories.name }}</p>
						<p>Description:
							{{ annonce.content | striptags | u.truncate(150,'...') }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
        <ul class="pagination">
            {%  set pages = (total/limit)|round(0,'ceil') %}

            <li class="{{ (page == 1) ? 'disabled' : '' }}">
                <a href="?page=1">
                    <i class="fas fa-step-backward"></i>
                </a>
            </li>
            <li class="{{ (page == 1) ? 'disabled' : '' }}">
                <a href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>



            {% for item in 1..pages %}
                <li class="{{ (page == item) ? 'active' : '' }}">
                    <a href="?page={{ item }}">{{ item }}</a>
                </li>            
            {% endfor %}
      

            <li class="{{ (page == pages) ? 'disabled' : '' }}">
                <a href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="{{ (page == pages) ? 'disabled' : '' }}">
                <a href="?page={{ pages }}">
                    <i class="fas fa-step-forward"></i>
                </a>
            </li>
        </ul>
	</div>


{% endblock %}

