<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.2/dist/css/axentix.min.css" />
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>


        {% block stylesheets %}{% endblock %}
       
    </head>
    <body>
        <header>
            <nav class="navbar shadow-1 primary">
                <a href="{{ path('app_home') }}" class="navbar-brand">SNTPK</a>
                <div class="navbar-menu ml-auto">
                    <a class="navbar-link" href="{{ path('app_home') }}"> Les Annonces</a>
                    <a class="navbar-link" href="{{ path('app_agences') }}"> Nos agences</a>
                    <a class="navbar-link" href="{{ path('contact') }}">Nous contacter</a>
                    <a class="navbar-link px-3" href="{{ path('app_register') }}">S'enregistrer</a>
                   
                    <a class="navbar-link" href="{{ path('users') }}"><i class="fas fa-home"></i>
	                Mon Compte</a>                    
                </div>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="footer fx-center primary">
            Copyright sntpk © 2020 - 
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.2/dist/js/axentix.min.js"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/monscript.js') }}"></script>
    </body>
</html>
