<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.3.1/dist/css/axentix.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
        {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}" 
    </head>
    
     <body class="layout with-sidenav">
       <header>
            <div>
               {% for message in app.flashes('success') %}
                  <div class="p-3 my-2 rounded-2 success">
		       {% endfor %}
            </div>	   

            <nav class="navbar shadow-1 primary">
                <button data-target="example-sidenav" class="btn press primary sidenav-trigger ">
                    <i class="fas fa-bars"></i>
                </button>

                <a href="{{ path('app_home') }}" class="navbar-brand">Axentix</a>
                    <div class="navbar-menu ml-auto">
                        <a class="navbar-link" href="{{ path('users') }}">Mon Dashboard</a>
                        <a class="navbar-link" href="{{ path('users_mycalendar') }}">Mon calendrier</a>
                        <a class="navbar-link" href="#">Link 3</a>
                        <a class="navbar-link" href="{{ path('app_logout') }}">Logout</a>

                        <div class="mx-3 ">
                    {% if app.user.userPhoto %}
                            <img src="{{ asset('uploads/images/photos/' ~ app.user.userPhoto.name) }}" class="myimg" alt="Trombi"/>
                    {% else %}
                            <img src="{{ asset('uploads/images/photos/smiley-yeux-bleus.jpg')}}" class="myimg" alt="Trombi"/>
                    {% endif %}                       
                        </div>
                    </div>
            </nav>
        </header>
        
        <div id="example-sidenav" class="sidenav shadow-1 primary">
            <div class="sidenav-header">
                <button data-target="example-sidenav" class="sidenav-trigger"> 
                    <i class="fas fa-times"></i>
                </button>

                <img class="sidenav-logo dropshadow-1" src="{{ asset('uploads/images/logo-sntp.png') }}" alt="Logo"/>
            </div>

            <a href="#" class="collapsible-trigger sidenav-link" data-target="ex1-collaps">Mon Profil</a>
            <div>
                <div class="collapsible" id="ex1-collaps" data-ax="collapsible1">
                    <a href="{{ path('users_profil_modifier') }}" class="active sidenav-link">Modifier mon profil</a>
                    <a href="{{ path('users_data') }}" class="sidenav-link">Mes données RGPG</a>

                    <a href="{{ path('users_pass_modifier') }}" class="sidenav-link">Changer le mot de passe</a>

                    <a href="#" class="sidenav-link"></a>
                
                </div>
            </div>

            <a href="#" class="collapsible-trigger sidenav-link" data-target="ex2-collaps">Mes Annonces</a>
            <div>
                <div class="collapsible" id="ex2-collaps" data-ax="collapsible2">
                    <a href="{{ path('users_annonces_ajout') }}" class="active sidenav-link">Nouvelle Annonce<a>                    
                    <a href="#" class="sidenav-link">ITEM</a>
                </div>
            </div>

            <a href="#" class="collapsible-trigger sidenav-link" data-target="ex3-collaps">Mon Agenda</a>
            <div>
                <div class="collapsible" id="ex3-collaps" data-ax="collapsible3">
                    <a href="{{ path('users_mycalendar') }}" class="active sidenav-link">Consulter l'agenda</a>                    
                    <a href="{{ path('calendar_new') }}" class="sidenav-link">Ajouter un rdv</a>
                </div>
            </div>
            
        </div>
        
         <main>           
            {% block body %}{% endblock %}
        </main>
        
        <footer class="footer primary">Copyright © 2020 - SNTPK </footer>

        <script src="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.3.1/dist/js/axentix.min.js"></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/monscript.js') }}"></script>
        <script>let sidenav = new Axentix.Sidenav('#example-sidenav')</script>
        <script>
        let collapsible1 = new Axentix.Collapsible('#ex1-collaps')
        let collapsible2 = new Axentix.Collapsible('#ex2-collaps')
        let collapsible3 = new Axentix.Collapsible('#ex3-collaps')
        
        </script>
</body>
</html>
